<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body bgcolor="Cyan">


<form  method="post" action="tester" >
<table width="20%" bgcolor="yellow" align="center">

<tr>
<td colspan=2><center><font size=4><b>Tester Login </b></font></center></td>
</tr>

<tr>
<td>User Id:</td>
<td><input type="text" size=25 name="testerid"></td>
</tr>

<tr>
<td>Password:</td>
<td><input type="Password" size=25 name="testerpwd"></td>
</tr>

<tr>
<td ><input type="Reset"></td>
<td><input type="submit"  value="Login"></td>
</tr>

</table>
</form>

</body>
</html>